<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js" ></script>
</head>
<body>
姓名：<input type="text" id="gaininfo" name="demo"/>
<button id="click">click</button><br />
年龄：<input type="text" id="age"/>
</body>
<script>
	var clickbtn=document.getElementById("click");
	var gainInfo=document.getElementById("gaininfo");
	var showAge=document.getElementById("age");
	clickbtn.onclick=function(data){
		var ss=$("input[name=demo]").val();
		//console.log(ss);
		console.log(data);
		$.ajax({
		type:"get",
		url:"/api/user/find",
            dataType:"application/json",
		data:{"name":ss},
		async:true,
            contentType: 'text/json,charset=utf-8',
		 success: function(ss){
     		showAge.innerHTML(ss.age)
     		console.log(ss);
   		}

	});
	}
</script>
</html>